---
import Gallery from "../components/Gallery.astro";
import Picture from "../components/Picture.astro";
import Default from "../layouts/Default.astro";
import { cleanName } from "../lib";

export async function getStaticPaths() {
  const { readdirSync } = await import("fs");
  const imageDirs = readdirSync("./public/images");

  return [...imageDirs].map((imagePath) => {
    const images = readdirSync("./public/images/" + imagePath).map(
      (image) => `/images/${imagePath}/${image}`
    );
    return {
      params: { gallery: `${imagePath}/gallerie` },
      props: { images, name: cleanName(imagePath), id: imagePath },
    };
  });
}
interface Props {
  images: string[];
  name: string;
  id: string;
}
const { images, name } = Astro.props;
---

<Default title={name + " Gallerie"} description={`${images.length} Bilder`}>
  <h2>
    {name} Gallerie
  </h2>

  <Gallery images={images} />
  <div class="grid grid-cols-2 content-center gap-2">
    {
      images.map((image) => {
        return (
          <label for={image} class="h-full w-full cursor-pointer">
            <Picture
              className="h-full w-full object-cover rounded-sm"
              sizes={{ sm: 200, md: 380, lg: 640 }}
              src={image}
            />
          </label>
        );
      })
    }
  </div>
</Default>
