---
import type { CollectionEntry } from "astro:content";
import Gallery from "../components/Gallery.astro";
import { cleanName } from "../lib";
import FormattedDate from "./FormattedDate.astro";
import Picture from "./Picture.astro";

interface Props {
  post: CollectionEntry<"posts">;
}
const { post } = Astro.props;
if (!post) {
  return;
}
const { Content } = await post.render();
---

<div class="flex flex-col gap-2">
  <div class="flex flex-col-reverse lg:flex-row justify-between text-center">
    <div class="flex justify-between lg:justify-center gap-2">
      <span>{cleanName(post.slug.split("/")[0])}:</span>
      <span>{post.data.version}</span>
    </div>
    <h3>{post?.data.title}</h3>
    <span><FormattedDate date={post?.data.pubDate} /></span>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-2 rounded-md">
    {
      post.data.gallery?.map((image, index) => (
        <label
          for={image}
          class="h-full w-full hover:scale-105 cursor-pointer duration-200 z-10 hover:z-20 rounded-sm hover:rounded-md overflow-hidden"
        >
          <Picture
            className="w-full h-72 object-contain bg-white/20"
            loading={index === 0 ? "eager" : "lazy"}
            sizes={{ sm: 620, md: 750 }}
            src={image}
          />
        </label>
      ))
    }
  </div>
  <div class="text-justify">
    <Content />
  </div>
</div>
<Gallery images={post?.data.gallery} />
