---
import type { CollectionEntry } from "astro:content";
import Gallery from "../components/Gallery.astro";
import Default from "../layouts/Default.astro";
import { cleanName } from "../lib";
import FormattedDate from "./FormattedDate.astro";

interface Props {
  post: CollectionEntry<"posts">;
}
const { post } = Astro.props;
if (!post) {
  return;
}
const { Content } = await post.render();
---

<div class="flex flex-col gap-2">
  <div class="flex justify-between">
    <div>
      {cleanName(post.slug.split("/")[0])}:{" "}
      {post.data.version}
    </div>
    <h3>{post?.data.title}</h3>
    <span><FormattedDate date={post?.data.pubDate} /></span>
  </div>
  <div class="grid grid-cols-2 gap-2 rounded-md">
    {
      post.data.gallery?.map((image) => (
        <label
          for={image}
          class="h-full w-full hover:scale-105 cursor-pointer duration-200 z-10 hover:z-20 rounded-sm hover:rounded-md overflow-hidden"
        >
          <img class="w-full h-full object-cover" src={image} />
        </label>
      ))
    }
  </div>
  <Content />
</div>
<Gallery images={post?.data.gallery} />
