---
import GalleryArrow from "./GalleryArrow.astro";
import Picture from "./Picture.astro";

interface Props {
  images: string[];
}
const { images } = Astro.props;
---

<input
  class={`peer hidden`}
  type="radio"
  name="gallery"
  id={"hide"}
  checked={true}
/>
{
  images.map((image, index) => (
    <div>
      <input
        class={`peer hidden`}
        type="radio"
        name="gallery"
        id={image}
        checked={false}
      />
      <label
        for={image}
        class={`z-20 absolute backdrop-blur-md group inset-0 hidden peer-checked:flex flex-grow justify-between w-full h-full overflow-hidden`}
      >
        <label class="cursor-pointer" for={images[index - 1]}>
          <GalleryArrow classes={"w-full"}>{"<"}</GalleryArrow>
        </label>
        <label for="hide">
          <Picture
            className="w-full h-full object-contain bg-white/10"
            src={image}
          />
        </label>
        <label class="cursor-pointer" for={images[index + 1]}>
          <GalleryArrow>{">"}</GalleryArrow>
        </label>
      </label>
    </div>
  ))
}
